@import "colors";
@import "typography";

@mixin display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include display-flex-center;
  margin: 0;
  line-height: 1;
  background-color: $cream;
  height: 100vh;
}

.card {
  @include base-font;
  color: $dark-brown;
  width: clamp(343px, 37.500vw, 540px);
  margin: 0 16px;
  display: flex;
  flex-direction: column;

  &__header {
    color: $very-pale-orange;
    padding: clamp(24px, 2.083vw, 30px) clamp(22px, 2.222vw, 32px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    padding: clamp(24px, 2.778vw, 40px);
  }

  &__icon {
    width: clamp(40px, 3.333vw, 48px);
    height: clamp(40px, 3.333vw, 48px);
    margin-right: clamp(4px, 0.556vw, 8px);
    background-color: $dark-brown;
    border-radius: 50%;
    position: relative;
    &::before {
      content: "";
      width: inherit;
      height: inherit;
      border-radius: 50%;
      border: 2px solid $very-pale-orange;
      box-sizing: border-box;
      position: absolute;
      left: -50%;
      top: 0;
    }
  }

  &__title {
    @include bold;
    font-size: clamp(24px, 2.222vw, 32px);
  }

  &__chart {
    border-bottom: 2px solid $cream;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.chart {
  min-height: 240px;
  padding: clamp(10px, 1.389vw, 20px) 0;
  &__bar {
    border-radius: 5px;
    background-color: $soft-red;
    width: clamp(33px, 3.472vw, 50px);
    position: relative;
    &::before {
      @include bold;
      position: absolute;
      content: "$" attr(value);
      background-color: $dark-brown;
      color: $very-pale-orange;
      border-radius: 5px;
      padding: clamp(4px, 0.556vw, 8px);
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 200ms;
    }
    &:hover {
      background-color: scale-color($soft-red, $lightness: +30%);
      cursor: pointer;
      &::before {
        opacity: 1;
      }
    }
    &--current {
      background-color: $cyan;
      &:hover {
        background-color: scale-color($cyan, $lightness: +30%);
      }
    }
  }
  &__label {
    @include display-flex-center;
    height: clamp(40px, 3.472vw, 50px);
    font-size: clamp(12px, 1.042vw, 15px);
    color: $medium-brown;
  }
}

.summary {
  display: flex;
  justify-content: space-between;
  padding-top: clamp(26px, 2.500vw, 36px);
  padding-bottom: 8px;
  &__last-month {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
  }
  &__text {
    color: $medium-brown;
  }
}

.box {
  background-color: $very-pale-orange;
  border-radius: $root-font-size;
  margin-bottom: clamp(16px, 1.528vw, 22px);

  &--red {
    background-color: $soft-red;
  }
}

.text:not(:last-child) {
  margin-bottom: 14px;
}

.amount {
  @include bold;
  &:not(:last-child) {
    margin-bottom: 4px;
  }
  &--medium {
    font-size: clamp(24px, 1.667vw ,32px);
  }
  &--big {
    font-size: clamp(28px, 3.333vw, 48px);
  }
}
